- content_for :actions do
  %a.btn.btn-blue{href:new_emoticon_url}
    New

- content_for :breadcrumbs do
  %li
    Emoticons

- Emoticon.categories.each do |c,emoticons|
  - next if emoticons.empty?
  %h3= c 
  .row.mb3
    - emoticons.order(label: :asc).each do |e|
      .col-xs-1.p1
        %a.emoticon{href:edit_emoticon_url(e)}
          %img.p1{src:e.image.url}
          %label.gray= e.label

