- content_for :actions do
  %a.btn.btn-blue{href:new_emoticon_url}
    New

- content_for :breadcrumbs do
  %li
    Emoticons

.row
  - @emoticons.each do |e|
    .col-xs-1.p1
      %a.emoticon{href:edit_emoticon_url(e)}
        %img{src:e.image.url}
        %label.gray= e.label

