- content_for(:header) do
  %i.fa.fa-diamond.mr1
  %a{href:campaign_templates_path} Campaigns
  Edit campaign

.container-narrow.p2.md-p3.lg-p4.bg-white
  = form_for(@campaign) do |f|
    = render partial: 'design_form', locals: {f:f}
    = render partial: 'settings_form', locals: {f:f}
    = f.submit "Update", class: 'btn btn-blue'