- content_for(:actions) do
  %a.btn.btn-blue{href:new_campaign_template_path}
    %i.fa.fa-plus.mr1
    New Template

- content_for(:breadcrumbs) do
  %li
    Templates

- @campaigns.each do |c|
  .my3
    %h3
      = c.name
      %span.opa5.pl2
        = c.question
    .b1.p2.bg-gray-lighter
      .row
        .col-xs-9.br1
          = render partial: 'campaigns/scenarios/emoticons/set', locals: {campaign: c}
        .col-xs-3
          .p2.flex.items-middle
            .center
              %a.btn.btn-gray{href:edit_campaign_template_path(c),title:'Edit'}
                %i.fa.fa-edit.mr1
                Edit

