- content_for(:header) do
  %i.fa.fa-diamond.mr1
  Campaign Templates

- content_for(:actions) do
  %a{href:new_campaign_template_path}
    Create

%table
  %thead        
    %tr
      %td
        = sort_link('name', 'Campaign name')
      %td
        Actions
  %tbody
    - @campaigns.each do |c|
      %tr
        %td
          = c.name
        %td.right-align
          %a.mr1{href:edit_campaign_template_path(c.relative_id),title:'Edit'}
            %i.fa.fa-edit
          %a.mr1{href:campaign_template_path(c.relative_id),title:'Delete',data:{method:'delete',confirm:"Are you sure you want to delete \'#{c.name}\'?"}}
            %i.fa.fa-close
    
