%ul
  %li
    %a{href:root_path,class:cp(root_path)}
      %i.fa.fa-dashboard.mr1
      Dashboard
  %li
    %a{href:products_path,class:cc('products')}
      %i.fa.fa-shopping-basket.mr1
      Products
  %li
    %a{href:'/setup',class:cp('/setup')}
      %i.fa.fa-code.mr1
      Setup Reactions
