%ul
  %li
    %a{href:admins_path,class:cc('admins')}
      %i.fa.fa-star.mr1
      Administrators
  %li
    %a{href:campaign_templates_path,class:cc('campaign_templates')}
      %i.fa.fa-star.mr1
      Campaign templates
