%table
  %thead
    %tr
      %td
        Name
      %td
        Website
      %td
        Impressions
      %td
        Reactions
  - @webmasters.each do |w|
    %tr
      %td
        %a{href:webmaster_path(w)}
          = w.name
      %td
        %a{href:w.website}
          = w.website
      %td
        x
      %td
        x
  
