- content_for(:header) do
  %i.fa.fa-user.mr1
  %a{href:'/'} Webmasters
  = @webmaster.name

- content_for(:actions) do   
  %a{href:edit_webmaster_path(@webmaster)} Edit webmaster

#body
  = render partial: 'products/data_table', locals: { products: @products }
