#emoticon-library
  - Emoticon.categories.each do |c,emoticons|
    - next if emoticons.empty?
    %h3= c 
    .row.mb3
      - emoticons.each do |e|
        %button.emoticon.col-xs-1{type:'button',onclick:"app.emoticon.select(#{e.id})",data:{id:e.id,label:e.label}}
          %img{src:e.image.url}