@mixin borders($namespace) {

  $b1: 1px solid $gray-lighterer;
  $b2: 2px solid $gray-lighterer;

  .#{$namespace}b0 { border: 0}
  .#{$namespace}b1 { border: $b1; }
  .#{$namespace}b2 { border: $b2; }

  .#{$namespace}b0-top { border-top: 0}
  .#{$namespace}b1-top { border-top: $b1; }
  .#{$namespace}b2-top { border-top: $b2; }

  .#{$namespace}b0-right { border-right: 0}
  .#{$namespace}b1-right { border-right: $b1; }
  .#{$namespace}b2-right { border-right: $b2; }

  .#{$namespace}b0-bottom { border-bottom: 0}
  .#{$namespace}b1-bottom { border-bottom: $b1; }
  .#{$namespace}b2-bottom { border-bottom: $b2; }

  .#{$namespace}b0-left { border-left: 0}
  .#{$namespace}b1-left { border-left: $b1; }
  .#{$namespace}b2-left { border-left: $b2; }

  .#{$namespace}b0-x { border-left: 0;   border-right: 0}
  .#{$namespace}b1-x { border-left: $b1; border-right: $b1; }
  .#{$namespace}b2-x { border-left: $b2; border-right: $b2; }
  
}

@include borders('');
