
.bg-gray-darker { background-color: $gray-darker; }
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray { background-color: $gray; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray-lighter { background-color: $gray-lighter; }

.gray-darker { color: $gray-darker; }
.gray-dark { color: $gray-dark; }
.gray { color: $gray; }
.gray-light { color: $gray-light; }
.gray-lighter { color: $gray-lighter; }

.bg-darken-5 { background: $darken-5; }
.bg-darken-6 { background: $darken-6; }
.bg-darken-7 { background: $darken-7; }
.bg-darken-8 { background: $darken-8; }
.bg-darken-9 { background: $darken-9; }
