.container {
  width: 100%!important;
  max-width: 1200px!important;
  padding-left: 0;
  padding-right: 0;
}
.container-narrow {
  width: 100%;
  max-width: 800px;
}
.container-narrower {
  width: 100%;
  max-width: 600px;
}
.container-wide {
  width: 100%;
  max-width: 1600px;
}
