- @reaction_type = reaction_type

- ReactionType.all.each do |r|
  %button{type:'button', onclick:"Kaanjo.react(#{r.id})", class:button_class(r), id:"kaanjo-reaction#{r.id}"}
    %img{src:"./emoticons/#{r.id}.svg"}
    %label= r.name

:scss
  #kaanjo {
    background: #333;
    padding: 15px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    button {
      outline: none!important;
      box-shadow: none!important;
      cursor: pointer!important;
      text-align: center!important;
      border: 0!important;
      padding: 0!important;
      background: transparent!important;
      color: #999!important;
      display: inline-block!important;
      img {
        -webkit-transition: all .3s;
        transition: all .3s;
        width: 50px!important;
        display: inline-block!important;
      }
      label {
        display: block!important;
      }
    }
    button:hover {
      img {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
    button:not(:last-child) {
      margin-right: 10px;
    }
    button.kaanjo-selected {
      opacity: 0.5;
    }
  }
