- @product = product
- @reaction_type = reaction_type

#kaanjo-title
  How does this item make you feel?

- ReactionType.all.each do |r|
  %button{type:'button', onclick:"Kaanjo.react(#{r.id})", class:button_class(r), id:"kaanjo-reaction#{r.id}"}
    %img{src:emoticon_url(r)}
    %label
      .kaanjo-bubble= r.name

- if @reaction_type
  = render partial: 'client/status'

:scss
  #kaanjo-title {
    font-size: 18px;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #kaanjo-status {
    margin-top: 10px;
    color: #444!important;
    line-height: 1!important;
    .kaanjo-status-icon {
      display: inline-block!important;
      width: 18px!important;
      margin-right: 4px!important;
      position: relative!important;
      top: 3px!important;
    }
  }
  #kaanjo {
    margin-top: 30px;
    text-align: center!important;
    background: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    button {
      outline: none!important;
      box-shadow: none!important;
      cursor: pointer!important;
      text-align: center!important;
      border: 0!important;
      padding: 0!important;
      background: transparent!important;
      color: #999!important;
      display: inline-block!important;
      position: relative!important;
      line-height: 0!important;
      -webkit-transition: all .2s;
      transition: all .2s;
      img {
        width: 100%!important;
        max-width: 40px!important;
        display: inline-block!important;
      }
      label {
        display: none!important;
        position: absolute!important;
        top: -70%!important;
        right: 0!important;
        bottom: 0!important;
        left: 0!important;
        cursor: pointer!important;
        margin: 0!important;
        padding: 0!important;
      }
      .kaanjo-bubble {
        display: block!important;
        position: absolute;
        left: 50%;
        top: 0;
        text-align: center;
        transform: translateX(-50%);
        background-color: rgba(10,10,10,.95) !important;
        color: #ddd !important;
        border: 1px solid #444 !important;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        opacity: 0;
        overflow: hidden;
        padding: 0 8px;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: -moz-nowrap;
        white-space: -o-nowrap;
        white-space: nowrap;
      }
    }
    button:not(.kaanjo-selected):hover {
      -ms-transform: scale(1.2) translate(0,-10%);
      -webkit-transform: scale(1.2) translate(0,-10%);
      transform: scale(1.2) translate(0,-10%);
      label {
        display: block!important;
      }
      .kaanjo-bubble {
        opacity: 1;
      }
    }
    button:not(:last-child) {
      margin-right: 10px;
    }
    button.kaanjo-selected {
      opacity: 0.5;
    }
  }
