- @reaction_type = reaction_type

- ReactionType.all.each do |r|
  %button{type:'button', onclick:"Kaanjo.react(#{r.id})", class:button_class(r), id:"kaanjo-reaction#{r.id}"}
    %img{src:"./emoticons/#{r.id}.svg"}
    %label= r.name

:scss
  #kaanjo {
    background: #333;
    padding: 15px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    button {
      outline: none!important;
      box-shadow: none!important;
      cursor: pointer!important;
      text-align: center!important;
      border: 0!important;
      padding: 0!important;
      background: transparent!important;
      color: #999!important;
      display: inline-block!important;
      position: relative!important;
      img {
        -webkit-transition: all .2s;
        transition: all .2s;
        width: 100%!important;
        max-width: 40px!important;
        display: inline-block!important;
      }
      label {
        display: block!important;
        left: 50%;
        position: absolute;
        text-align: center;
        bottom: 100%;
        transform: translateX(-50%);
        background-color: rgba(10,10,10,.95) !important;
        color: #ddd !important;
        border: 1px solid #444 !important;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        opacity: 0;
        overflow: hidden;
        padding: 0 8px;
        text-decoration: none;
        text-overflow: ellipsis;
        transition: all .05s;
        -webkit-transition: all .05s;
        white-space: -moz-nowrap;
        white-space: -o-nowrap;
        white-space: nowrap;
      }
    }
    button:hover {
      img {
        -ms-transform: scale(1.2) translate(0,-10%);
        -webkit-transform: scale(1.2) translate(0,-10%);
        transform: scale(1.2) translate(0,-10%);
      }
      label {
        opacity: 1;
        bottom: 115%;
      }
    }
    button:not(:last-child) {
      margin-right: 10px;
    }
    button.kaanjo-selected {
      opacity: 0.5;
    }
  }
