%img.kaanjo-status-icon{src:emoticon_url(reaction_type)}
- number = product.reaction_total
- if number == 0
  = reaction_type.message_first
- else
  = reaction_type.message.sub('{number}',number.to_s)

