%img.kaanjo-status-icon{src:emoticon_url(reaction_type)}
- number = product.get_reaction_total(reaction_type) - 1
- if number == 0
  = reaction_type.message_first
- else
  = reaction_type.message.sub('{number}',number.to_s)

