:scss
  #kaanjo-title {
    color: rgba(0,0,0,0.7)!important;
    font-weight: bold!important;
    margin-bottom: 20px!important;
  }
  #kaanjo-power {
    margin-top: 10px!important;
    text-align: right!important;
    a {
      display: inline-block!important;
      line-height: 0!important;
      opacity: 0.8;
    }
  }
  //#kaanjo-info {
  //  position: absolute!important;
  //  top: -1px!important;
  //  right: -1px!important;
  //  display: block!important;
  //  line-height: 0!important;
  //  img {
  //    width: 17px!important;
  //    opacity: 0.5!important;
  //    -webkit-transition: all .2s;
  //    transition: all .2s;
  //  }
  //}
  //#kaanjo-info:hover {
  //  img {
  //    -ms-transform: scale(1.2) translate(0,-10%);
  //    -webkit-transform: scale(1.2) translate(0,-10%);
  //    transform: scale(1.2) translate(0,-10%);
  //  }
  //  #kaanjo-info-bubble {
  //    opacity: 1!important;
  //    -ms-transform: scale(1);
  //    -webkit-transform: scale(1);
  //    transform: scale(1);
  //  }
  //}
  #kaanjo-info-bubble {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: 0!important;
    position: absolute!important;
    bottom: -100%!important;
    right: 0!important;
    background: #0097d6!important;
    color: #FFF!important;
    padding: 18px!important;
    text-overflow: ellipsis!important;
    white-space: -moz-nowrap!important;
    white-space: -o-nowrap!important;
    white-space: nowrap!important;
    a {
      color: #FFF!important;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  #kaanjo-status {
    margin-top: 10px!important;
    color: #444!important;
    line-height: 1.5!important;
    .kaanjo-status-icon {
      display: inline-block!important;
      width: 18px!important;
      margin-right: 4px!important;
      position: relative!important;
      top: 3px!important;
    }
  }
  #kaanjo {
    position: relative!important;
    background: #FFF!important;
    max-width: 500px;
    #kaanjo-buttons {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;
      button.kaanjo-reaction {
        -webkit-box-flex: 1!important;
        -ms-flex: 1 1 auto!important;
        flex: 1 1 auto!important;
        min-width: 0!important;
        min-height: 0!important;
        outline: none!important;
        box-shadow: none!important;
        text-align: center!important;
        border: 0!important;
        padding: 0!important;
        background: transparent!important;
        color: #999!important;
        display: inline-block!important;
        position: relative!important;
        line-height: 0!important;
        -webkit-transition: all .2s;
        transition: all .2s;
        img {
          width: 100%!important;
          max-width: 100px!important;
          display: inline-block!important;
          cursor: pointer!important;
        }
        label {
          display: inline-block!important;
          position: absolute!important;
          left: 50%!important;
          top: 0!important;
          transform: translate(-50%, -100%)!important;
          -webkit-transform: translate(-50%, -100%)!important;
          text-align: center!important;
          background-color: rgba(10,10,10,.95) !important;
          color: #ddd !important;
          border: 1px solid #444 !important;
          border-radius: 10px!important;
          box-sizing: border-box!important;
          font-size: 12px!important;
          font-weight: bold!important;
          line-height: 20px!important;
          opacity: 0!important;
          overflow: hidden!important;
          padding: 0 8px!important;
          text-decoration: none!important;
          text-overflow: ellipsis!important;
          white-space: -moz-nowrap!important;
          white-space: -o-nowrap!important;
          white-space: nowrap!important;
          text-transform: none!important;
        }
      }
      button:hover {
        -ms-transform: scale(1.2) translate(0,-10%);
        -webkit-transform: scale(1.2) translate(0,-10%);
        transform: scale(1.2) translate(0,-10%);
        opacity: 1!important;
        label {
          opacity: 1!important;
        }
      }
      button.kaanjo-reaction:not(:last-child) {
        margin-right: 8px!important;
      }
      button.kaanjo-unselected {
        opacity: 0.5!important;
      }
    }
  }
