.btn {
  background: $aqua;
  color: $white;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  outline: 0!important;
}
button, input[type="submit"] {
  @extend .btn;
}
button:focus {
  @extend .btn;
}
.btn-full {
  display: block;
  width: 100%;
}
.btn.btn-lg {
  padding: 1.5rem;
  font-size: $h4;
  text-transform: uppercase;
}
.btn.btn-sm {
  padding: 0.8rem;
  font-size: $h5;
}
a {
  color: $blue;
  text-decoration: none;
}
.sorter-up,.sorter-down {
  color: inherit;
}
.sorter-up::after,.sorter-down::after {
  @extend .fa;
  margin-left: $space-1;
  color: rgba(0,0,0,0.4);
  content: "\f107";
}
.sorter-up.current::after {
  content: "\f106";
}
.sorter-down::after {
}
