.btn {
  background: $aqua;
  color: $white;
  -webkit-appearance: none;
  -webkit-border-radius:0; 
}
button, input[type="submit"] {
  @extend .btn;
}
.btn-full {
  display: block;
  width: 100%;
}
.btn.btn-lg {
  padding: 1.5rem;
  font-size: $h4;
  text-transform: uppercase;
}
.btn.btn-sm {
  padding: 0.8rem;
  font-size: $h5;
}
a {
  color: $blue;
  text-decoration: none;
}
