input[type="text"],input[type="password"],input[type="email"],input[type="email"],input[type="tel"],input[type="search"],input[type="date"],select,textarea {
  @extend .input;
  border-radius: 0;
  border: 0;
  padding: 0.8rem 0;
  height: auto;
  margin: 0;
  font-size: $h4;
  border-bottom: 2px solid $gray-lighterer;
  color: $gray-darker;
}
textarea {
  @extend .textarea;
}
select {
  @extend .select;
  height: auto;
}
label {
  @extend .label;
}
.field_with_errors {
  position: relative;
}
.field_with_errors::before {
  content: "\f054";
  font-family: 'FontAwesome';
  position: absolute;
  left: -20px;
  top: 12px;
  color: $red;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="search"]:focus,select:focus,textarea:focus {
  border-color: $gray;
}
code {
  display: block;
  @extend .p3;
  background: $gray-lightest;
  @extend .b1;
}
