* {
  outline: 0!important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  background-color: $white;
  color: $gray-darker;
  margin: 0;
}
#breadcrumbs {
  a:after{
    @extend .fa;
    content: "\f105";
    margin: 0 $space-2;
    color: rgba(255,255,255,0.7);
  }
}