table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: $white;
  thead {
    tr:first-child {
      background: $gray-darker;
      color: $gray-lightest;
      font-weight: bold;
      text-transform: uppercase;
    }
    background: $gray-dark;
    color: $gray-lightest;
  }
  tbody {
    @extend .b1-left;
    @extend .b1-right;
    tr {
      @extend .b1-bottom;
      td:not(:last-child) {
        @extend .b1-right;
      }
    }
  }
  td {
    padding: $space-2;
  }
}
