table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: $white;
  thead {
    background: $gray-lightest;
    color: $gray-dark;
    text-transform: uppercase;
    @extend .b2-bottom;
  }
  tbody {
    @extend .b1-left;
    @extend .b1-right;
    tr {
      @extend .b1-bottom;
      td:not(:last-child) {
        @extend .b1-right;
      }
    }
  }
  td {
    padding: $space-2;
  }
  tr {
    td:first-child {
      padding-left: $space-3;
    }
  }
}
