body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h5 { @extend .h4; }
h6 { @extend .h6; }
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5 {
  margin-top: 0;
}
.upcase {
  text-transform: uppercase;
}
