.datepicker.dropdown
  %label{for:'datepicker-toggle'}
    = selected_date[:label]
  %input#datepicker-toggle{type:'checkbox'}
  %ul
    - dates.each do |key,date|
      - next if selected_date == date
      - next if key == 'range'
      %li
        %a{href:url_for(t:key)}
          = date[:label]
    %li
      %a.range-selector{href:'#'} Custom range
