.flex.p2
  .flex-auto
    %a.block.h3{href:'/'}
      Reactions
  .flex-none
    - if current_user
      %a{href:destroy_user_session_path, 'data-method':'delete'} Logout
      |
      %a{href:edit_user_registration_path} Account
