%ul.py1.px0
  - if current_user
    - if current_user.admin?
      %li
        %a{href:'/'}
          Webmasters
    - else
      %li
        %a{href:'/'}
          Products
    %li
      %a{href:edit_user_registration_path}
        Account settings
  - else
    %li
      %a{href:'/login'}
        Login
