<div class="bg-gray-light navy flex justify-between">
  <%= render partial: 'shared/metric_picker' %>
  <%= render partial: 'shared/date_picker' %>
</div>

<canvas id="chart" width="100%" height="40px" class="bg-gray-lighter"></canvas>

<script>
  var chart_canvas = $('#chart');
  var myChart = new Chart(chart_canvas, <%= linechart_params_for(collection).to_json.html_safe %>);
</script>