#scenarios

  %h3 Your scenarios

  .tabs

    - i = 0

    - @campaign.scenarios.try(:each) do |scenario|
      - i += 1
      = render partial: 'campaigns/scenarios/emoticons/form', locals: { f:f, i:i, scenario:scenario }

    - (5 - @campaign.scenarios.length).times do
      - i += 1
      = render partial: 'campaigns/scenarios/emoticons/form', locals: { f:f, i:i, scenario:Scenario.new }

  .tab-contents
    = content_for :emoticon_fields
