#scenarios

  %h3 Your scenarios

  .tabs
    - @scenarios.each do |scenario|
      - f.fields_for :scenarios, scenario do |ff|
        asdas
        .tab 
          asdasd
          %img{src:''}
          %label
    
          .tab-content{data:{id:1}}

    
%button{type:'button',onclick:"app.modal.show('#emoticon-library')"}
  %i.fa.fa-plus