* {
  outline: 0!important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: $gray-darker;
  margin: 0;
}
.flash, #error_explanation {
  padding: $space-2;
  background: $aqua;
  color: $white;
  font-weight: bold;
  h2 {
    font-size: inherit;
  }
  ul {
    margin-bottom: 0;
    font-weight: normal;
  }
}
.flash.alert, #error_explanation {
  background: $orange;
}
.flash.success {
  background: $lime;
  color: rgba(0,0,0,0.65);
}
.active {
  display: block;
}
