header {
  background: $gray-lightest;
  padding: $space-3;
  text-transform: uppercase;
  @extend .b1-bottom;
  line-height: 1;
}
.datepicker {
  text-align: right;
  position: relative;
  background: $white;
  a, span {
    display: block;
    cursor: pointer;
  }
  a {
    padding: $space-2 $space-3;
  }
  a:hover {
    background: $gray-lightest;
  }
  span {
    background: transparent;
    padding: $space-3;
    border-top: 0;
    border-right: 0;
    color: inherit;
    font-weight: normal;
    @extend .b1-bottom;
    @extend .b1-left;
    line-height: inherit;
    cursor: pointer;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: $white;
    @extend .b1-bottom;
    @extend .b1-left;
    li {
      border-top: 1px solid $gray-lighterer;
    }
  }
}
