header {
  background: $gray-lightest;
  padding: $space-3;
  text-transform: uppercase;
  @extend .b1-bottom;
}
.datepicker {
  text-align: right;
  position: relative;
  background: $white;
  a, span {
    display: block;
  }
  a {
    padding: $space-2 $space-3;
  }
  a:hover {
    background: $gray-lightest;
  }
  span {
    padding: $space-3;
    @extend .b1-bottom;
    @extend .b1-left;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background: $white;
    @extend .b1-bottom;
    @extend .b1-left;
    li {
      border-top: 1px solid $gray-lightest;
    }
  }
}
.datepicker:hover {
  ul {
    display: block;
  }
}
