.btn {
  box-shadow: inset 0 0 0 2px $gray-lighter;
  -webkit-box-shadow: inset 0 0 0 2px $gray-lighter;
  -webkit-appearance: none;
  border-radius:2px;
  -webkit-border-radius:2px;
  outline: 0!important;
  padding: 10px 15px;
  font-weight: normal;
  color: $gray-dark;
  border: none;
  transition: all .1s;
  -webkit-transition: all .1s;
  &.btn-blue {
    color: $white;
    background: $aqua;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 0 0 2px rgba(0,0,0,0.05);
  }
  &.btn-gray {
    background: $gray-dark;
    color: $white;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 0 0 2px rgba(0,0,0,0.05);
  }
}
button, input[type="submit"] {
  @extend .btn;
}
button:focus {
  @extend .btn;
}
.btn.btn-wide {
  padding-left: 30px;
  padding-right: 30px;
}
.btn-full {
  display: block;
  width: 100%;
}
.btn.btn-lg {
  padding: 1.5rem;
  font-size: $h2;
  text-transform: uppercase;
}
.btn.btn-sm {
  padding: 0.8rem;
  font-size: $h5;
}
.btn-inline {
  padding: 0;
  line-height: inhering;
  background: none;
  color: $aqua;
}
a {
  color: $blue;
  text-decoration: none;
}
.sorter-asc,.sorter-desc {
  color: inherit;
}
.sorter-asc::after,.sorter-desc::after {
  @extend .fa;
  margin-left: $space-1;
  color: rgba(0,0,0,0.4);
  content: "\f107";
}
.sorter-asc.current::after {
  content: "\f106";
}
.btn:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
}