.btn {
  background: $blue;
  color: $white;
  -webkit-appearance: none;
  border-radius:2px;
  -webkit-border-radius:2px;
  outline: 0!important;
  padding: 10px 15px;
  font-weight: normal;
}
button, input[type="submit"] {
  @extend .btn;
}
button:focus {
  @extend .btn;
}
.btn.btn-wide {
  padding-left: 30px;
  padding-right: 30px;
}
.btn-full {
  display: block;
  width: 100%;
}
.btn.btn-lg {
  padding: 1.5rem;
  font-size: $h4;
  text-transform: uppercase;
}
.btn.btn-sm {
  padding: 0.8rem;
  font-size: $h5;
}
.btn-inline {
  padding: 0;
  line-height: inhering;
  background: none;
  color: $aqua;
}
a {
  color: $blue;
  text-decoration: none;
}
.sorter-asc,.sorter-desc {
  color: inherit;
}
.sorter-asc::after,.sorter-desc::after {
  @extend .fa;
  margin-left: $space-1;
  color: rgba(0,0,0,0.4);
  content: "\f107";
}
.sorter-asc.current::after {
  content: "\f106";
}
.sorter-desc::after {
}
