.emoticon, .emoticon:focus {
  display: inline-block;
  background: none;
  padding: 0;
  outline: none;
  border: none;
  text-align: center;
  input {
    display: none;
  }
  img, .emoticon-img {
    display: inline-block;
    width: 5em;
    height: 5em;
  }
  .emoticon-img {
    line-height: 0;
    background-image: image-url('ui/add.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 95%;
  }
}
