.flash, #error_explanation {
  padding: $space-2 $space-3;
  background: $aqua;
  color: $white;
  font-weight: bold;
  z-index: 10;
  position: absolute;
  top: $space-3;
  left: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  h2 {
    font-size: inherit;
  }
  ul {
    margin-bottom: 0;
    font-weight: normal;
  }
}
.flash.alert, #error_explanation {
  background: $orange;
}
.flash.success {
  
}