.input {
  border: 1px solid $gray-light;
  padding: 10px 15px;
  height: auto;
  margin: 0;
  font-size: inherit;
  color: $gray-darker;
  background-color: $gray-lighter;
  display: initial;
}
input[type="text"],input[type="password"],input[type="email"],input[type="email"],input[type="tel"],input[type="search"],input[type="date"],select,textarea {
  @extend .input;
  cursor: text;
}
textarea {
  @extend .textarea;
  cursor: text;
}
select {
  @extend .select;
  height: auto;
}
label {
  @extend .label;
}
.field_with_errors {
  position: relative;
}
.field_with_errors::before {
  content: "\f054";
  font-family: 'FontAwesome';
  position: absolute;
  left: -20px;
  top: 12px;
  color: $red;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="search"]:focus,select:focus,textarea:focus {
  border-color: $gray-darker;
}
code {
  display: block;
  @extend .p3;
  background: $gray-lighter;
  @extend .b1;
}
::-webkit-input-placeholder { color: $gray-darker; }
:-ms-input-placeholder { color: $gray-darker; }
::-moz-placeholder { color: $gray-darker; opacity: 1; }
:-moz-placeholder { color: $gray-darker; opacity: 1; }