.step:not(:first-of-type) {
  display: none;
}
.container {
  width: 100%!important;
  max-width: 1000px!important;
  padding-left: 0;
  padding-right: 0;
}
.container-narrow {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.container-narrower {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.container-wide {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.items-middle {
  @extend .items-center;
  @extend .justify-center;
}
.island {
  width: 100%;
  max-width: 300px;
  padding: $space-3;
  background: $white;
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  @extend .b1;
  text-align: center;
}
.island-nav {
  @extend .bb1;
  text-align: center;
  margin-bottom: $space-3;
  margin-left: -$space-3;
  margin-right: -$space-3;
  span, a {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    display: inline-block;
    color: $gray;
    padding: $space-1;
    &.island-nav-current {
      border-bottom: 1px solid $aqua;
    }
  }
}