table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: $white;
  thead {
    color: $navy;
    font-weight: bold;
  }
  tbody {
    @extend .bx1;
    tr {
      background: $gray-lighter;
      @extend .bb1;
      td:not(:last-child) {
        @extend .br1;
      }
    }
  }
  td {
    padding: $space-2;
  }
}
