table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: $white;
  thead {
    color: $navy;
    font-weight: bold;
    @extend .by2;
    tr {
      background: $gray-light;
    }
  }
  tbody { border-top: 2px solid #b2c9d4; }
  @extend .bx2;
  tr {
    background: $gray-lighter;
    @extend .bb2;
    td:not(:last-child) {
      @extend .br2;
    }
  }
  td {
    padding: $space-2;
  }
}
