table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: $white;
  thead {
    background: $gray-lightest;
    color: $gray-dark;
    text-transform: uppercase;
    @extend .bb2;
  }
  tbody {
    @extend .bx1;
    tr {
      @extend .bb1;
      td:not(:last-child) {
        @extend .br1;
      }
    }
  }
  td {
    padding: $space-2;
  }
  tr {
    td:first-child {
      padding:0;
      a {
        display: block;
        padding: $space-2 $space-2 $space-2 $space-3;
      }
    }
  }
}
