#emoticon-library.modal.hide
  .modal-box
    - @unselected_emoticons.each do |id|
      - reaction_type = ReactionType.find(id)
      %button.emoticon{onclick:"app.emoticons.add(#{id})"}
        %img{src:reaction_type.image_url}