#emoticon-selection

  - @selected_emoticons.each do |id|
    - r = ReactionType.find(id)
    = render partial: 'emoticon', locals: { r:r, f:f, checked:true }
    
  - @unselected_emoticons.each do |id|
    - r = ReactionType.find(id)
    = render partial: 'emoticon', locals: { r:r, f:f, checked:false }

= render partial: 'emoticon_attributes'
    
%button{type:'button',onclick:"app.modal.show('#emoticon-library')"}
  %i.fa.fa-plus