- content_for(:header) do
  Products   

.flex
  %header.flex-auto
    Activity Overview
  .flex-none
    = render partial: 'shared/datepicker'
= render partial: 'products/data_table', locals: { products: @products }
