#header.flex
  .flex-auto
    %h1
      Product:
      %span= @product.name
  .flex-none
    = render partial: 'shared/datepicker'

= render partial: 'products/data_table', locals: { products: [@product] }
